body, html
{
    height: 100%;
    margin: 0;
}

.background-login
{
    /* Full height */
    height: 100%;

    /* Left and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-login
{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 400px;
    background-color: #ffffff !important;
}


.border-0
{
    border: opx solid white;
}

.bg-white
{
    background-color: #FFF;
}

.color-white
{
    color: #FFF;
}

.bg-blue-uii
{
    background-color: #253E93;
}

.color-blue-uii
{
    color: #253E93;
}


.login_icon
{
    position: absolute;
    right: 20px;
    top: -10px;
}

.login_icon span
{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

a:hover
{
    text-decoration: none;
}

.card-header h3
{
    color: white;
}

.input-group-prepend.login-box span
{
    min-width: 20px;
    background-color: rgb(218, 218, 218);
    color: rgb(85, 81, 81);
}

input:focus
{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.login_btn
{
    color: #FFF;
    background-color: #253E93;
    width: 100px;
}

.login_btn:hover
{
    color: #FFF;
    background-color: #0C47C7;
}
